<h3>{{ formAction }} User</h3>


<form class="user-form" [formGroup]="form" (ngSubmit)="onUserFormSubmit()">
    <div class="errmsg">{{ errmsg }}</div>
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input type="text" class="user-name-input" matInput formControlName="userName" [errorStateMatcher]="matcher" placeholder="">
    <mat-error *ngIf="form.get('userName')?.hasError('required')">
      User Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.get('userName')?.hasError('minlength')">
      User Name must be atleast 3 chars
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input type="text" class="first-name-input" matInput formControlName="firstName" [errorStateMatcher]="matcher" placeholder="">
    <mat-error *ngIf="form.get('firstName')?.hasError('required')">
      First Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.get('firstName')?.hasError('minlength')">
      First Name must be atleast 3 chars
    </mat-error>
  </mat-form-field>
  <br>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input type="text"  class="last-name-input" matInput formControlName="lastName" [errorStateMatcher]="matcher"
             placeholder="">
      <mat-error *ngIf="form.get('lastName')?.hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('lastName')?.hasError('minlength')">
        Last Name must be atleast 3 chars
      </mat-error>
    </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text"  class="email-input" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="">
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>User Status</mat-label>
    <mat-select formControlName="userStatus"  class="user-status-select"> 
      <mat-option *ngFor="let status of userStatuses" [value]="status.value">
        {{ status.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <br>
  <mat-form-field>
    <mat-label>Department</mat-label>
    <input type="text"  class="department-input" matInput formControlName="department" [errorStateMatcher]="matcher" placeholder="">
  </mat-form-field>
  <br>
  <button mat-flat-button class="ns-btn" type="submit">{{ formAction }} User</button> &nbsp; 
  <button mat-flat-button class="ns-btn" type="button" (click)="resetForm()">Reset</button> &nbsp; 
  <button mat-flat-button class="ns-btn" type="button" routerLink="/users">Cancel</button>
</form>